{% load aiteo_tags %}
{% load url from future %}
<div class="vote_badge question">
    <div class="up">
        {% if request.user.is_authenticated %}
            {% if request.user|voted_up:question or question.user == request.user %}
                <i class="icon-2x icon-chevron-up"></i>
            {% else %}
                <a class="ajax" data-method="post" data-replace-closest=".vote_badge" href="{% url 'aiteo_question_upvote' question.pk %}">
                    <i class="icon-2x icon-chevron-up"></i>
                </a>
            {% endif %}
        {% endif %}
    </div>
    <div class="score">{{ question.score|default:"0" }}</div>
    <div class="down">
        {% if request.user.is_authenticated %}
            {% if user|voted_down:question or question.user == request.user %}
                <i class="icon-2x icon-chevron-down"></i>
            {% else %}
                <a class="ajax" data-method="post" data-replace-closest=".vote_badge" href="{% url 'aiteo_question_downvote' question.pk %}">
                    <i class="icon-2x icon-chevron-down"></i>
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>